.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  z-index: 10;
  position: sticky;
  margin-bottom: auto;
  height: fit-content;
}
.logo {
  /* Ihr Logo-Stil */
}
.search {
  /* Ihr Such-Stil */
}
.menu {
  /* Ihr Menü-Stil */
}
