.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 5vh; /* Bestimmt die Höhe des Headers */
  z-index: 10;
}
.logo {
  /* Ihr Logo-Stil */
}
.search {
  /* Ihr Such-Stil */
}
.menu {
  /* Ihr Menü-Stil */
}
